.gridLayout {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-auto-flow: column;
}

.gridLayout a {
	color: inherit;
	padding: 0;
	margin: 0;
	text-decoration: none;
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	height: 200;
}
.skillBox {
	border: 1px solid var(--bg-secondary);
	margin: 20px;
	margin-inline: auto;
	-webkit-box-shadow: 0px 0px 45px 0px var(--primary-shadow);
	-moz-box-shadow: 0px 0px 45px 0px var(--primary-shadow);
	box-shadow: 0px 0px 45px 10px var(--primary-shadow);
	border-radius: 10px;
	overflow: hidden;
}

.skillTitle {
	background: rgb(9, 21, 39);
	background: linear-gradient(
		180deg,
		rgba(9, 21, 39, 0.6475183823529411) 0%,
		rgba(22, 34, 48, 1) 50%
	);
	color: var(--color-light);
	padding: 3px;
	font-weight: bold;
	font-family: TitleFont;
	text-transform: uppercase;
	letter-spacing: 1px;
	width: 100%;
}
.statusButton {
	background: rgb(1, 2, 3);
	background: linear-gradient(
		56deg,
		rgba(1, 2, 3, 1) 0%,
		rgba(17, 30, 43, 0.8856136204481793) 50%
	);
}
